.main {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  position: fixed;
  bottom: 8px;
  right: 8px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 8px 0px;
}