.container {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #1a1d22;
}

.main > * {
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  background-color: #fff;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
}

.subtitle {
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
}

.aside {
  flex-grow: 1;
}